
body /* Mozilla Firefox alignment */ 
{ 
text-align: -moz-center; 
text-align:center;
} 
body {
	z-index: -100;
	padding: 0px 0 0px 0;
	/* background-image: url(backdrop2.png);
	background-repeat: repeat-y; */
	background-position: center; 
	background-color: #FF9900;
	border-left:0px;/* all browsers */
	border-left:1px solid #FF9900;/* Microsoft Internet Explorer browsers*/
	border-left:1px solid #FF9900;/* IE browsers 6.0 and older */
}

/*CSS to main Container TABLE or DIV or any PlaceHolder TAG of the web page*/
#container{
    width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.underline
{
    text-decoration: underline;
}  

.formdiv
{
	position:absolute;
	top:58px;
	left:522px;
	
}

.lndheaderdiv
{
	width:874px;
	height:88px;
	background-image:url(/images/headerbg.gif);
	text-align:left;
}



.txtinput1
{
	font-family: Arial;
	font-size:11px;
	width:724px;
	height: 310px;
	margin-left: 3px;
}


a.homefooter
{
	font-family: Verdana, Arial;
	font-size:11px;
	color:#ffffff;
	text-decoration:none;
}
a.homefooter:hover
{
	text-decoration:underline;
	color:#ffffff;
}

a.homefooter.active {
	text-decoration:underline;
	color:#ffffff;
}
#layout 
{
	border-style: none;
	border-color: inherit;
	border-width: 0;
	width: 960px;
		margin: auto;
		background: white;
		position: relative;
	top: 0px;
	left: 0px;
	height: 507px;
}
a {
	color: #F47618;
	font-weight: bold;
}
a:hover {
	color: red;
}
a:active {
	color: red;
}
input, select {
	vertical-align: middle;
	margin-left: 0px;
}

/* HEADER */
#ads{
	padding:0 0 0px 0;
	height: 90px;  
	width: 730px; /* 728 x 90 */
	position: relative;
	float: right;
}
#header{
	padding:0 0 0px 0;
	height: 90px;
}
#header img, #header span{
	position:absolute;
	top:4px;
	margin:0 0 0 0px;
	padding:0 0 0 4px;
	width: 221px;
	height: 73px;
	left: 4px;
}
.subheader {
	background: #FFCC66 url(bgSubheader.gif) no-repeat;
	height:26px;
	margin:0 0 0px 1px;
	width: 960px;
}


#subheader a {
	text-decoration: none;
}
#subheader div select {
	font-size: 10px;
	margin:auto;
}
.hlinks {
	background: url(liInactive.gif) no-repeat right;
	padding: 0 10px 0 0;
	line-height:25px;
	height:25px;
}
/* end HEADER */
/* Top Navigation */
#nav {
	padding: 6px 0 0 0;
	margin: 0 0 2px 0;
	height: 91px;
	width:100%;
}
#nav ul {
	float: right;
	text-align: right;
	display: block;
	margin: 0 3px 0px 195px;
	padding: 0;
	clear: both;
	width:600px;
	height: 59px;
}
#nav li {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height:20px;
}
#nav a {
	color: #F47618;
	font-size: 11px;
	text-decoration: none;
	margin: 0;
	display:inline-block;
	padding: 0 10px 0px 10px;
	background: url(liInactive.gif) no-repeat 0px 6px;
}
#nav a:hover {
	color: #9D1308;
	text-decoration: underline;
}
/* End Top Navigation */
/* Footer */
#footer {
	clear:both;
	color: #F47618;
	text-align:center;
	font-size: 11px;
	line-height: 25px;
	margin:1px 0 0 1px;
	width: 960px;
}
#footer a {
	color: #FFCC66;
	text-decoration: none;
}
#cplinks{
	background: #FFCC66 url(bgSubheader.gif) no-repeat;
	border-bottom: 1px solid #E8DFE0;
	height:25px;
	line-height:25px;
}
#cplinks ul{
	text-align:left;
	width:98%;
	margin:0;
	display: block;
	padding: 0;
	clear: both;
}


.box-heading {
	font-size: 12px !important;
	color: #F47618 !important;
	margin: 0 0 6px 0 !important;
	display: block !important;
	line-height: 24px;
	z-index: 99999;
	clear:both;
	font-weight:bold;
	overflow:hidden;
	border-bottom:1px solid #eee
}
/* wrap styles */
.contentfix{
	width:496px;
	border-top:1px solid #eee;
}
.headerfix{
	display:inline-block;
	width:560px;
	overflow:hidden;
}
.headerfix2{
	display:block;
	width:460px;
	overflow:hidden;
}
.tdfix{
	width:250px !important;
	overflow:hidden;
}

/* End table wrap */
.wrap-img{
	float:left;
	margin:0 10px 10px 0;
}
.home .wrap-info{
	width:440px;
}
.wrap-info {
	padding: 0px 0 0 0px;
	margin: 0;
	float: left;
}
.wrap-info ul{
	padding: 0px 0 0 0px;
	margin: 0;
	float: left;
}
.wrap-info li {
	font-size: 11px;
	display:inline-block;
	margin: 0;
	list-style:none;
	line-height:20px;
}
.home .wrap-info li{
	display:block;
}
.wrap-sized{
	padding:0 0 0 0px;
	margin:0 auto;
	width:520px;
}
/* table view profile controls */
.wrap-view{
	width:100%;
	line-height:16px;
	margin:4px 0 4px 0px;
}
.wrap-view td{
	padding:0 0 8px 0;
}
/* end table view profile controls */
/* edit profile controls wrap */
.wrap-edit{
	width:100%;
	line-height:16px;
	margin:2px 0 0px 0px;
}
/*end edit profile controls wrap */
/* end wrap styles */
.label {
	font-size: 11px;
	line-height:18px;
	font-weight:bold;
	margin:0;
	padding:0;
}
.value {
	font-size: 11px;
	font-weight:normal;
	display:inline;
}
.home .wrap-img{
	float:right;
}
.left{
	float:left
}

/* links style*/
.links{
	line-height:20px;
}
.blinks{
	color:black
}
.morelink{
	text-align:right;
	line-height:18px;
	width:100%;
	background:#fff
}
.list ul{
	padding:0;
	margin:0;
	list-style:none
}
.list li{
	padding:0 0 0px 6px;
	margin:0;
	list-style:none;
	line-height:12px;
}
/* end links */
/* text styles */
.lineh{
	line-height:16px !important;
}
.height40{
	height:40px;
}
.center{
	text-align:center;
	vertical-align:middle;
	margin:0;
}
.italic{
	font-style:italic;
	color:gray;
}
.bold{
	font-weight:bold;
}
.justify{
	text-align:justify
}
.overflow{
	overflow:hidden;
}
.date {
	color: #9D1308;
	font-size: 11px;
	line-height:16px;
	padding: 0px;
	margin: 0;
}
.text{
	font-size:11px;
	font-family:Verdana;
	line-height:16px;
}
.text img{
	padding:0 2px 0 2px;
}
/* service messages */
.erroraspx{
	text-align:center;
	color: red;
	line-height:18px;
	margin:50px 0 0 0;
}
.srvmsg{
	text-align:center;
	font-size:11px;
}
.error {
	color: red;
	text-align:center;
	font-size:11px;
	padding:2px 0 0 0;
}
.message{
	color: black;
	text-align:center;
	font-size:11px;
	padding:2px 0 0 0;
	font-weight:bold;
}


.separator {
	height: 10px;
	line-height:10px;
	font-size:10px;
}
.separator6 {
	height: 6px;
	line-height:6px;
	font-size:6px;
}
.line {
	background: #EEE;
	height: 1px;
	line-height:1px;
	font-size:1px;
	overflow: hidden;
	width: 100%;
	margin: 0;
}
.navline{
	border-bottom:1px solid #eee;
	margin:0 auto 2px auto;
	padding:2px 0 0 0;
	width:90%;
}
.clear {
	height: 0px;
	clear: both;
	line-height: 0px;
	font-size:0px;
	width:100%;
}
/* end lines and separators */
/* Single, Multi Line Style*/
.titletextbox{
	clear:both;
	width:508px;
	font-family:verdana !important;
	font-size:11px;
	line-height:16px;
	height:16px;
}
.multilinetextbox{
	width:508px;
	height:80px;
	font-family:verdana !important;
	font-size:11px;
	line-height:16px;
}
/* Buttons */
.buttons {
	padding: 4px;
	text-align: center;
}
/* End Buttons used in Profile and Blog Pages */

/* lineheight fix */
.hide{
	line-height:0;
}
/* End Global Styles */

/*left navigation box */
.sidemenu-item {
	padding: 5px 0px 5px 15px;
}
.sidemenu-link {
	color: #81813E;
	padding: 0 10px 0 0;
	font-size: 11px;
	text-decoration: none;
	letter-spacing: 0;
	line-height:16px;
	background: url(liMenu.gif) no-repeat right;
}
/* end left navigation box */

/* WebParts */

.leftbox{
	width:212px;
	margin:0 0 0px 0 !important;
	padding:0px !important;
	border:0 !important;
	clear:both;
}
.leftbox tr td table tr td{
	margin:0 0 0px 0 !important;
	padding:0px !important;
	border:0 !important;	

}
.leftbox .text{
	width:190px !important;
	overflow:hidden  !important;	
}
.lefttop span{
	font-size: 11px;
	font-weight:bold;
	line-height: 23px;
	padding: 0 0 0 15px;
	margin: 0 0 0 20px;
	display:inline-block;
	width:70px;
	overflow:hidden;

}
.standardbox-x .box-top5{
	background: url(box5-hback.gif) no-repeat;
}
.box-top5 img {
	margin-top: 7px;

	padding: 0 0 0 20px;
	margin: 0;
	background: url(liRed.gif) no-repeat 0px 8px;
}
.box-content5 {
	/* background: #fff url(images/sectionBg3.gif) no-repeat top left; */
	padding: 10px 10px 10px 10px;
	font-size: 14px;
	color: #444;
	line-height: 16px;
}
/*end standard box*/



/* message box */
#msg-box {
	clear:both;
	width: 590px;
	border: #ebebeb 1px solid;
	margin: 25px auto;
}
#msg-box .standardbox {
	float: none !important;
}
#msg-box {
	clear:both;
	width: 590px;
	border: #ebebeb 1px solid;
	margin: 25px auto;
}
#msg-box {
	clear:both;
	width: 590px;
	border: #ebebeb 1px solid;
	margin: 25px auto;
}
#msg-box .standardbox {
	float: none !important;
}
#msg-box .box-content5{
	padding:0px 10px 10px 10px;
	
}
/* end message box */

/* login box */
.default .box1 {
	float: left;
	width: 216px;
	height:296px;
	padding: 1px 0 0 1px;
	overflow:hidden;
}
.box1 {
	width: 270px;
	padding: 1px 0 0 1px;
	clear:both;
	height: 360px;
}
.box-top1 {
	width: 237px;
	background: #DCD9B1 url(box1-hback.gif) repeat-x;
	/* color: #83833F; */
	line-height: 25px;
	padding: 0;
	margin-left: 0px;
}
.box-head1 {
	font-size: 11px;
	padding-left: 40px;
	line-height: 25px;
	margin: 0;
	background: url(images/box1-blt.gif) no-repeat top left !important;
}
.box-content1 {
	background: white url('images/sectionBg.gif') no-repeat left top;
	padding: 4px 0 0px 0;
	height: 312px;
}
.navbox-content {
	background: url(images/sectionBg.gif) top left no-repeat;
	padding: 5px 0 0px 0;
	clear: both;
	margin-top: 0px;
}
.loginbox{
	font-size: 11px;
	color: #484848;
	line-height:20px;
	margin:6px 0 0 0;
	height: 41px;
}
.loginbox input{
	font-size: 11px;
	width: 100px;
	margin: 0;
	padding: 0;
}
.stealthmode{
	text-align:center;
	padding:3px 0 3px 0;
	color: #666;	
}
div.formsubmit {
	padding: 0 0 0 65px;
	margin: 0;
}
.reg-link {
	font-size: 14px;
	color: #F47618;
	text-decoration: none;
	margin: 0 auto;
	text-align: center !important;
	display: block;
}


.cardspace
{
    text-align: center;
	margin:2px auto;
	padding:0 0 0px 0;
	width:100%;
}
.default .cardspace{
	width:90%;
}
.cardspace button{
	width:170px;
	padding:1px;
}
/* end login box */

.standardbox {
PADDING-RIGHT: 0px; PADDING-LEFT: 1px; RIGHT: 0px; PADDING-BOTTOM: 0px; WIDTH: 510px; 
PADDING-TOP: 0px;
            margin-left: 0px;
        }
.box-head5 {
	font-size: 11px;
	color: #8D3E04;
	line-height: 25px;
	padding: 0 0 0 20px;
	margin: 0;
	background: url('../zMatchElf_dev/images/liRed.gif') no-repeat 0px 8px;
        }
.box-head5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 11px; BACKGROUND: url('../zMatchElf_dev/reg_files/liRed.gif') no-repeat 0px 8px; 
PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #8d3e04; LINE-HEIGHT: 25px; PADDING-TOP: 0px
        }
.box-content5{
	background: #fff url('../zMatchElf_dev/images/sectionBg3.gif') no-repeat left top;
	padding: 10px 10px 10px 10px;
	font-size: 11px;
	color: #444;
	line-height: 16px;
}
.box-content5 {
	    padding: 10px;
            FONT-SIZE: 11px; BACKGROUND: #fff url('../zMatchElf_dev/reg_files/sectionBg3.gif') no-repeat left top; 
            COLOR: #444;     LINE-HEIGHT: 16px;
        }
.registration-info {
	BORDER-TOP: #eee 1px solid; 	MARGIN: 5px 0px; 	LINE-HEIGHT: 18px; 	BORDER-BOTTOM: #eee 1px solid; 	TEXT-ALIGN: justify;
	width: 635px;
}


.select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px #336680 solid;
	color: #104C8A; 
	padding: 1px, 1px, 1px, 1px;
}

.selectheader {
	font-family: Arial, Helvetica, sans-serif; 
	color: #104C8A; 
	font-weight: bold; 
	font-size: 11px;
}

img.borderorange {
	display: block;
	padding:4px;
	border:solid;
	border-color: #FF9900 #FF9900 #FF9900 #FF9900;
	border-width: 1px 2px 2px 1px;
	background-color:#FF9900;
}

.pro-portrait 
{
	background-image: url('bg1.jpg'); 
	background-repeat:no-repeat; 
	padding: 16px 8px 8px 16px;
	height:220px;
	width:194px;
}
	
.grunge {
	background-image: url('grunge-image-1.jpg');
	background-repeat:no-repeat; 
	padding: 18px 12px 12px 12px;
	height:216px;
	width:196px;
}

.grunge-title {
	background-image: url('grunge-image-1.jpg');
	background-repeat:no-repeat; 
	padding: 4px 4px 4px 4px;
	height:60px;
}

.grungeheader {
	font-family: Verdana, Arial;
	font-weight:bold;
	font-size:22px;
	color:Blue;
	text-decoration:none;
}

.nav-top1 {
	font-family: Verdana, Arial;
	font-weight:bold;
	font-size:12px;
	color:Green;
	text-decoration:none;
}



.nav-top1 {
	font-family: Verdana, Arial;
	font-weight:bold;
	font-size:12px;
	color:Green;
	text-decoration:none;
}


.nav-top {
	font-family: Verdana, Arial;
	font-weight:bold;
	font-size:12px;
	color:Green;
	text-decoration:none;
	width: 932px;
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: Green; 
	padding-top: 8px;
}



a:link {
    color: #FF0000;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #FF0000;
}
a:hover {
    text-decoration: none;
    color: #FF0000;
}
a:active {
    text-decoration: none;
    color: #FF0000;
}


a.showgreen:link {color: #006600; text-decoration: none;font-family: Verdana, Tahoma, Georgia;font-size:small; } 
a.showgreen:visited {color: #006600; text-decoration: none;font-family: Verdana, Tahoma, Georgia;font-size:small;} 
a.showgreen:hover {color: #ff6600; text-decoration: underline;font-family: Verdana, Tahoma, Georgia;font-size:small;} 
a.showgreen:active {color: #006600;text-decoration: none;font-family: Verdana, Tahoma, Georgia;font-size:small;} 
a.showblack:link {color: #006600; text-decoration: none;font-family: Verdana, Tahoma, Georgia;font-size:small; } 
a.showblack:visited {color: Black; text-decoration: none;font-size:small;} 
a.showblack:hover {color: red; text-decoration: underline;font-size:small;} 
a.showblack:active {color: Black;text-decoration: none;font-size:small;} 
.showdate1 {color: Blue; text-decoration: none;font-family: Verdana, Tahoma, Georgia; } 
a.showwhite:link {color: White; text-decoration: none;font-family: Verdana, Tahoma, Georgia;font-size:small; } 
a.showwhite:visited {color: White; text-decoration: none;font-family: Verdana, Tahoma, Georgia;font-size:small;} 
a.showwhite:hover {color: White; text-decoration: underline;font-family: Verdana, Tahoma, Georgia;font-size:small;} 
a.showwhite:active {color: White;text-decoration: none;font-family: Verdana, Tahoma, Georgia;font-size:small;}       


.registration-text {
    width: 168px;
	font-family: Arial, Helvetica, sans-serif; 
	color: #104C8A; 
	font-weight: bold; 
	font-size: 11px;
	text-align: -moz-right; 
	text-align:right;
	MARGIN: 0px 5px 0px 0px; 
	padding-right: 10px;
}

.registration-text2 {
    width: 168px;
	font-family: Arial, Helvetica, sans-serif; 
	color: #104C8A; 
	font-weight: bold; 
	font-size: 11px;
	text-align: -moz-right; 
	text-align:right;
	MARGIN: 0px 5px 0px 0px; 
	padding-right: 10px;
}

.registration-info {
	BORDER-TOP: #FFCC66 1px solid; 	
	MARGIN: 5px 0px; 	
	LINE-HEIGHT: 18px; 	
	BORDER-BOTTOM: #eee 1px solid; 
	TEXT-ALIGN: justify;
	width: 635px;
	color: #104C8A; 
		
}


table.orangeborder {
	BORDER: solid 10px white; 	
	LINE-HEIGHT: 24px; 	
	TEXT-ALIGN: justify;
	width: 712px;
	color: #104C8A; 
	padding: 5px 5px 5px 5px;
		
}

td.showmsg-green 
{
	background-color: #009900;
	LINE-HEIGHT: 24px; 	
	TEXT-ALIGN: justify;
	width: 712px;
	color: #104C8A; 
	padding: 5px 5px 5px 5px;
		
}

td.showmsg-gray 
{
	background-color: #F0F0F0;
	LINE-HEIGHT: 24px; 	
	TEXT-ALIGN: justify;
	width: 712px;
	color: #104C8A; 
	padding: 1px 1px 1px 1px;
}




.msg-body
{
	font-family: Arial;
	font-size:14px;
	width:700px;
	height: 22px;
	margin-left: 5px;
	padding: 5px;
}



/* CSS classes for the navigation menu at bottom of the page (Previous/More Products, etc) */

.navigation
{
	font-family:Arial;
	font-size:10px;
	width:486px;
	margin-top:0px;
}

#leftnav 
{
	float:left;
	width:180px;
	text-align:center;
}

#rightnav 
{
	float:right;
	width:180px;
	margin-right:20px;
	text-align:center;
}

#numnav
{
	float:inherit;
	text-align:center;
	height: 31px;
}


#leftnav2 
{
	float:left;
	width:180px;
	text-align:center;
}

#rightnav2 
{
	float:right;
	width:180px;
	margin-right:20px;
	text-align:center;
}

#numnav2
{
	float:inherit;
	text-align:center;
	height: 31px;
}


.search
{
	padding: 0px 0px 0px 0px;
	width: 927px;

}


.scontrols {
	font-size: 11px;
	color: #104C8A; 
		width: 862px;
}

.registration {
	font-family: Arial, Helvetica, sans-serif; 
	color: #104C8A; 
	font-weight: bold; 
	font-size: 11px;
	text-align: -moz-right; 
	text-align: right;
	MARGIN: 0px 5px 0px 0px; 
	padding-left: 4px;
	padding-right: 4px;
}

.menua {
	right: 115px;
	top: 177px;
	text-transform: uppercase;
	font-size: 10px;
}

.blank {
	padding: 0px 0px 0px 0px;
}

.blank-center { 
text-align: -moz-center; 
text-align: center;
} 

.border1 {
	padding: 1px 1px 1px 1px;
}

.profile {
	font-family: Arial, Helvetica, sans-serif; 
	color: #104C8A; 
	font-size: 11px;
	text-align: -moz-left; 
	text-align: left;
	MARGIN: 0px 5px 0px 0px; 
	padding: 1px 1px 1px 1px;
	vertical-align:top;
	width: 450px;
}

.box-img1 {
	height: 140px;
	width: 120px;
	padding: 5px 5px 5px 5px; 
	margin-left: 0px;
}

.box-images1 {
	height: 90px;
	width: 90px;
	border-style: solid;
	border-width: 1px;
	padding: 0px 0px 0px 0px; 
}